<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Full Stack Product Management</title>
     <script src="https://kit.fontawesome.com/b06a377e67.js" crossorigin="anonymous"></script>
     <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="index.css">
     <link rel="stylesheet" href="navbar.css">
     <link rel="stylesheet" href="/responsive.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Baloo+2&family=Bebas+Neue&family=Courgette&family=Dancing+Script:wght@400;600&family=Dosis:wght@300&family=Lobster&family=Lobster+Two&family=Noto+Serif+Display:wght@100&family=Playfair+Display:ital@1&family=Raleway:wght@300;700;900&family=Ramaraja&family=Roboto&family=Shadows+Into+Light&family=Work+Sans:wght@100&display=swap"
          rel="stylesheet">
     <style>
          @import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Baloo+2&family=Bebas+Neue&family=Courgette&family=Dancing+Script:wght@400;600&family=Dosis:wght@300&family=Lobster&family=Lobster+Two&family=Noto+Serif+Display:wght@100&family=Playfair+Display:ital@1&family=Ramaraja&family=Shadows+Into+Light&family=Work+Sans:wght@100&display=swap');
     </style>
</head>

<body>

     <!-- -------------------------------------- navbar -------------------------------------- -->


     <div id="navbar">
          <div class="logo"><a href="/index.html">grappus</a></div>
          <div class="nav">
               <div class="nav1">
                    <ul>
                         <li><a href="/grappusdaily.html">GRAPPUS DAILY</a></li>
                         <li><a href="/culture.html">CULTURE CODE</a></li>
                         <li><a href="/careers.html">CAREERS</a></li>
                         <li><a href="/contact.html">CONTACT</a></li>
                    </ul>
               </div>
               <div class="nav2">
                    <ul>
                         <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                         <li><a href="#"><i class="fa-regular fa-circle-dot"></i></a></li>
                         <li><a href="#"><i class="fa-solid fa-basketball"></i></a></li>
                         <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
               </div>
          </div>
          <i class="fa-solid fa-bars"></i>
     </div>


     <!-- -------------------------------------- navbar -------------------------------------- -->


     <!-- -------------------------------------- Banner -------------------------------------- -->


     <div id="banner">
          <h1>grappus</h1> 
     </div>


     <!-- -------------------------------------- Banner -------------------------------------- -->


     <!-- ------------------------------------- SECTION-1 ------------------------------------- -->


     <div id="section1">
          <div class="section1child1">
               <h1>we are__</h1>
               <p>a friendly bunch of thinkers, designers & techies constantly delivering good stuff. We don’t do
                    boring. We create products that make people say damn!</p>
          </div>
          <div class="section1child2">
               <img src="/images/video-bg.png" alt="">
               <div class="button"><a href="/h.html"><i class="fa-solid fa-circle-play"></i>Watch Showreel</a></div>
          </div>
     </div>


     <!-- ------------------------------------- SECTION-1 ------------------------------------- -->


     <!-- ------------------------------------- SECTION-2 ------------------------------------- -->


     <div id="section2">
          <h1>We’ve worked with some cool people.</h1>
          <p>Helping new brands start up and old ones start over.</p>
     </div>


     <!-- ------------------------------------- SECTION-2 ------------------------------------- -->


     <!-- ------------------------------------- SECTION-3 ------------------------------------- -->


     <div id="section3">
          <div class="section3">
               <div class="section3child1">

                    <div class="twosection">
                         <div class="block"><img src="/images/Uber.svg" style="width: 60px; padding-top: 4em;" alt="">
                         </div>
                         <div class="block"><img src="/images/Mercedes.svg" style="width: 100px;padding-top: 4em;"
                                   alt="">
                         </div>
                    </div>
                    <div class="threesection">
                         <div class="block"><img src="/images/axa.svg" style="width: 50px;padding-top: 3em;" alt="">
                         </div>
                         <div class="block"><img src="/images/dbs.svg" style="width: 80px;padding-top: 4em;" alt="">
                         </div>
                         <div class="block"><img src="/images/pvr.svg" style="width: 60px;padding-top: 3em;" alt="">
                         </div>
                    </div>
                    <div class="twosection">
                         <div class="block"><img src="/images/tata.svg" style="width: 50px;padding-top: 3em;" alt="">
                         </div>
                         <div class="block"><img src="/images/nestle.svg" style="width: 50px;padding-top: 3em;" alt="">
                         </div>
                    </div>
                    <div class="threesection sectionthree">
                         <div class="block"><img src="/images/Aon.svg" style="width: 70px;padding-top: 3em;" alt="">
                         </div>
                         <div class="block"><img src="/images/bajaj.svg" style="width: 70px;padding-top: 4em;" alt="">
                         </div>
                         <div class="block"><img src="/images/grab.svg" style="width: 70px;padding-top: 4em;" alt="">
                         </div>
                    </div>


               </div>




               <div class="section3child1">
                    <div class="twosection sectiontwo">
                         <div class="block"><img src="/images/cocoon.svg" style="width: 90px;padding-top: 4em;" alt="">
                         </div>
                         <div class="block"><img src="/images/sita.png" alt=""></div>
                    </div>
                    <div class="threesection">
                         <div class="block"><img src="/images/stones.svg" style="width: 90px;padding-top: 4em;" alt="">
                         </div>
                         <div class="block"><img src="/images/star-health.png" alt=""></div>
                         <div class="block"><img src="/images/vk.svg" style="width: 100px;padding-top: 3em;" alt="">
                         </div>
                    </div>
                    <div class="twosection sectiontwo">
                         <div class="block"><img src="/images/oyo.svg" style="width: 70px;padding-top: 4em;" alt="">
                         </div>
                         <div class="block"><img src="/images/jio.png" alt=""></div>
                    </div>
               </div>

          </div>

     </div>


     <!-- ------------------------------------- SECTION-3 ------------------------------------- -->


     <!-- ------------------------------------- SECTION-4 ------------------------------------- -->


     <div id="section4">
          <div class="section4">
               <div class="scetion4child1">
                    <h1>What we do.</h1>
                    <p>We believe in perfection by design and performance by default.</p>
                    <img id="image" src="/images/p4.gif" alt="">
               </div>
               <div class="scetion4child2">
                    <div class="spell1 spell">
                         <ol>Strategy</ol>
                    </div>
                    <div class="spell2 spell">
                         <ol>Branding</ol>
                    </div>
                    <div class="spell3 spell">
                         <ol>Designs</ol>
                    </div>
                    <div class="spell4 spell">
                         <ol>Engineering</ol>
                    </div>
                    <div class="spell5 spell">
                         <ol>Product Management</ol>
                    </div>
               </div>
          </div>
     </div>


     <!-- ------------------------------------- SECTION-4 ------------------------------------- -->


     <!-- ------------------------------------- SECTION-5 ------------------------------------- -->


     <div id="section5">
          <h1>What we’ve been upto</h1>
     </div>


     <!-- ------------------------------------- SECTION-5 ------------------------------------- -->


     <!-- ------------------------------------- SECTION-6 ------------------------------------- -->


     <div id="section6">
          <div class="section6">
               <div class="section6child1">
                    <video style="border-radius: 20px;" width="98%" controls autoplay loop muted>
                         <source  src="/images/Future+Vision.mp4" type="video/mp4">
                       Your browser does not support the video tag.
                       </video>
                    <div class="section6child1child">
                         <img src="/images/g2.png" alt="">
                         <img src="/images/g3.png" alt="">
                    </div>
               </div>
               <div class="section6child2">
                    <img src="/images/g1.svg" alt="">
                    <img src="/images/g4.svg" alt="">
               </div>
          </div>
     </div>

     <!-- ------------------------------------- SECTION-6 ------------------------------------- -->


     <!-- ------------------------------------- SECTION-7 ------------------------------------- -->


     <div id="section7">
          <h1>Meet our</h1>
          <h1>digital pirates</h1>
          <p>We’re a tight-knit, skilled team with a working culture built on trust, respect and passion</p>
          <button class="btn7"><i class="fa-solid fa-play"></i>WATCH OUR VIDEO</button>
     </div>


     <!-- ------------------------------------- SECTION-7 ------------------------------------- -->


     <!-- ------------------------------------- SECTION-8 ------------------------------------- -->


     <div id="section8">
          <div class="section8">
               <div class="section8child1">
                    <h1>The Culture Code</h1>
                    <p>For us, our values are more than just words. These won’t be on any test, but they come from the
                         heart and run deep through our culture.</p>
                    <button class="btn8child1">KNOW MORE</button>
               </div>
               <div class="section8child2">
                    <div class="sec8-child1">
                         <h1 style="color: yellow;">Be Humble.</h1>
                         <div class="container">
                              <img src="/images/pikachu.gif" alt="">
                         </div>
                         <h1 style="color: rgb(154, 216, 255);">Be Curious.</h1>
                         <div class="container">
                              <img src="/images/Articuno.webp" alt="">
                         </div>
                         <h1 style="color: burlywood;">Be Candid.</h1>
                         <div class="container">
                              <img src="/images/p1.gif" alt="">
                         </div>

                    </div>
                    <div class="sec8-child1">
                         <h1 style="color: rgb(148, 176, 212);">Team Up.</h1>
                         <div class="container">
                              <img src="/images/p3.gif" alt="">
                         </div>
                         <h1 style="color: rgb(255, 111, 0);">Dont Settle.</h1>
                         <div class="container">
                              <img src="/images/p2.gif" alt="">
                         </div>
                         <h1 style="color: violet;">Stay Crazy.</h1>
                         <div class="container">
                              <img src="/images/200w.gif" alt="">
                         </div>
                    </div>
               </div>
          </div>
     </div>


     <!-- ------------------------------------- SECTION-8 ------------------------------------- -->


     <!-- ------------------------------------- SECTION-9 ------------------------------------- -->


     <div id="section9"></div>


     <!-- ------------------------------------- SECTION-9 ------------------------------------- -->


     <!-- ---------------------------------- SECTION-10 form ---------------------------------- -->

     <div id="section10">
          <div class="section10">
               <h1>Why head into the battlefield unprepared?</h1>
               <p>We work with ideas that inspire, engage and excite. Ideas that challenge convention and shape the
                    trends. Through our awe-inspiring personal touch, we aim to make users fall in love with your brand.
               </p>
               <form action="#">
                    <div class="section10child1">
                         <input type="text" name="name" id="name" placeholder="Name">
                         <input type="email" name="email" id="email" placeholder="Email ID">
                         <input type="number" name="number" id="number" placeholder="Phone number">
                    </div>
                    <div class="section10child2">
                         <input type="text" name="textarea" id="textarea">
                    </div>
                    <button class="formbtn">SUBMIT APPLICATION &nbsp;<i class="fa-solid fa-chevron-right"></i></button>
               </form>
          </div>
     </div>


     <!-- ---------------------------------- SECTION-10 form ---------------------------------- -->


     <!-- ---------------------------------- FOOTER ---------------------------------- -->

     <div id="footer">
          <div class="footer">
               <div class="footerchild1">
                    <h1>Grappus</h1>
                    <p>a product development studio</p>
               </div>
               <div class="footerchild2">
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa-regular fa-circle-dot"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-basketball"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
               </div>
          </div>
     </div>

     <!-- ---------------------------------- FOOTER ---------------------------------- -->

</body>
<script src="index.js"></script>

</html>